# macOS
.DS_Store

# Python
.venv/
venv/
__pycache__/

# Sphinx build artifacts
docs/build/
_templates/

# その他
make.bat
Makefile
style.scss
style.css.map

# JetBrains IDE (PyCharm, WebStorm, etc.)
.idea/

# Python スクリプト、Excel、Shell スクリプトを無視
docs/*.py
docs/*.xlsx
docs/*.sh
docs/*.command
